<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="log-pattern">%d{yyyy-MM-dd HH:mm:ss} |- %highlight{%5p}{TRACE=blue, DEBUG=green, INFO=green,
            WARN=yellow, ERROR=red, FATAL=red} in %style{%C{1}:%L}{cyan} [%style{%t}{magenta}] - %m%n
        </Property>
    </Properties>

    <!-- Logger levels: trace, debug, info, warn, error, fatal -->
    <Loggers>
        <AsyncLogger name="com.lance" level="DEBUG" additivity="false" includeLocation="true">
            <AppenderRef ref="Console"/>
        </AsyncLogger>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
